body {
    background-color: #ffffff;
    color: #333;
}

h2 {
    color: #fda50d;
    border-left: 5px solid #fda50d;
    padding-left: 15px;
}

.naranja {
    color: #fda50d;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
.Iguana {
    width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;

}
.Valley {
    width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;


}
.Bootstrap {
    width: 25%;
    height: auto;
    display: flex;
    align-items: start;
    margin: 0 auto;

}